@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&display=swap");

@import "tailwindcss";
@plugin '../hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

/* define tokens / tema aquí */
@theme {
  --color-primary-500: oklch(65% 0.09 250);
  --font-sans: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  --font-crimson: "Crimson Text", serif;
  --font-kalnia: "Kalnia", serif;
}

/* tus estilos custom dentro de layers para evitar specificity issues */
@layer base {
  :root {
    font-family: var(--font-sans);
  }
}

#root {
  width: 100%;
}

/* body {
  cursor: none !important;
} */

body::-webkit-scrollbar {
  display: none;
}

.line {
  overflow: hidden;
  display: block;
}

.font-crimson {
  font-family: var(--font-crimson);
}

.circular-text-home span {
  @apply text-xs md:text-sm lg:text-base;
}

.icon-ts path {
  fill: #fff;
}

.img-logos-filter-white {
  filter: brightness(0) invert(1);
}

.lg-thumb-item {
  width: 80px !important;
  border-radius: 10px !important;
  border: none !important;
  opacity: 0.6 !important;
  margin-right: 10px !important;
}

.lg-thumb-item.active {
  opacity: 1 !important;
}

.lg-backdrop {
  background-color: #121212 !important;
}

.lg-outer .lg-thumb-outer {
  background-color: #121212 !important;
}

.lg-object.lg-image {
  border-radius: 15px;
}

.lg-icon {
  width: 40px;
  height: 40px;
  border-radius: 50rem !important;
}

.lg-video-cont {
  border-radius: 15px;
  overflow: hidden;
}

.lg-progress-bar .lg-progress {
  @apply !bg-primary rounded-sm;
  height: 2px !important;
}

.lg-progress-bar {
  height: 2px !important;
}

@media (max-width: 640px) {
  .lg-thumb-item {
    width: 60px !important;
    height: 60px !important;
    border-radius: 7px !important;
    margin-right: 5px !important;
  }

  .lg-object.lg-image,
  .lg-video-cont {
    border-radius: 0;
  }

  .lg-icon {
    width: 35px !important;
  }
}

@keyframes floatY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-18px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes floatYSlow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-28px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Más lenta */
.float {
  animation-name: floatY;
  animation-duration: 14s; /* ⬅️ antes 6s */
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  will-change: transform;
}

/* Ultra lenta */
.float-slow {
  animation-name: floatYSlow;
  animation-duration: 22s; /* ⬅️ antes 9s */
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  will-change: transform;
}

.lg-prev,
.lg-next,
.lg-outer .lg-thumb-outer.lg-grab .lg-thumb-item,
.lg-outer.lg-grab img.lg-object,
.lg-outer.lg-grabbing img.lg-object,
.lg-toolbar .lg-icon {
  cursor: none;
}

.custom-scrollbar {
  width: calc(100% + 20px);
  padding-right: 16px;
  overflow-y: scroll;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  position: absolute;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #333;
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.text-two-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.text-one-line-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
